{% extends 'base.html' %}
{% block content %}
{% for blog in blogs.all %}
 <div class="row pt-3">
    <div class="col-6" onclick="window.location='{% url 'detail' blog.id %}';" style="cursor: pointer">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.summary }}</p>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('like{{ blog.id }}').submit()}"><button class="btn  btn-primary btn-lg btn-block">Like {{ blog.like }}</button></a>
    </div>
 </div>
    <form id="like{{ blog.id }}" method="POST" action="{% url 'like' blog.id %}">
    {% csrf_token %}
    <input type="hidden">
    </form>
{% endfor %}
{% endblock %}